.inside_header_bg
  %header.inside_head_wrapper
    .inside_header
      .inside_logo
        =image_tag "logo01.png"
        %span.d_name Dashboard
      .dash_menu
        .dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %span.user_icon
              =image_tag "user-sign.png"
          %ul.dropdown-menu
            %li.user_name Welcome Jonathan
            %li
              %a{:href => "#"}
                %i.fa.fa-user.lft_space>
                My Account
            %li
              %a{:href => "#"}
                %i.fa.fa-cog.lft_space>
                Account Setting
            %li
              %a{:href => "#"}
                %i.fa.fa-sign-out.lft_space>
                Logout
            %li.drop_arrow
              =image_tag "drop-arrow.png"
    .inside_page_name
      %h1 My Documents
%section.section_wrapper
  #tabcordion.tabcordion
    %h3.tabcord-title.border_left_corner{"data-hname" => "tab1"} All Documents (10)
    .tabcord-disp
      .doc_detail
        .doc_avtar.color_cod01 U
        .doc_info
          %h3.heading03 UmBiobank Research Center
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
      .doc_detail
        .doc_avtar.color_cod02 C
        .doc_info
          %h3.heading03 City Eye Hospital
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
      .doc_detail
        .doc_avtar.color_cod03 B
        .doc_info
          %h3.heading03 Bre-bank Dental Clinic
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
      .doc_detail
        .doc_avtar.color_cod04 C
        .doc_info
          %h3.heading03 Columbus Regional Healthcare
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
      .doc_detail
        .doc_avtar.color_cod05 M
        .doc_info
          %h3.heading03 Mayfare Senior Living Home
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
      .doc_detail
        .doc_avtar.color_cod06 S
        .doc_info
          %h3.heading03 Salt Lake City Hospital
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
      .doc_detail
        .doc_avtar.color_cod07 D
        .doc_info
          %h3.heading03 Dr Hawke Eye Care Center
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
    %h3.tabcord-title{"data-hname" => "tab2"} In Progress (7)
    .tabcord-disp
      .doc_detail
        .doc_avtar.color_cod01 U
        .doc_info
          %h3.heading03 UmBiobank Research Center
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
      .doc_detail
        .doc_avtar.color_cod02 C
        .doc_info
          %h3.heading03 City Eye Hospital
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
      .doc_detail
        .doc_avtar.color_cod03 B
        .doc_info
          %h3.heading03 Bre-bank Dental Clinic
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
      .doc_detail
        .doc_avtar.color_cod04 C
        .doc_info
          %h3.heading03 Columbus Regional Healthcare
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
      .doc_detail
        .doc_avtar.color_cod05 M
        .doc_info
          %h3.heading03 Mayfare Senior Living Home
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
      .doc_detail
        .doc_avtar.color_cod06 S
        .doc_info
          %h3.heading03 Salt Lake City Hospital
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
      .doc_detail
        .doc_avtar.color_cod07 D
        .doc_info
          %h3.heading03 Dr Hawke Eye Care Center
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
    %h3.tabcord-title{"data-hname" => "tab3"} Published (3)
    .tabcord-disp
      .doc_detail
        .doc_avtar.color_cod01 U
        .doc_info
          %h3.heading03 UmBiobank Research Center
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
      .doc_detail
        .doc_avtar.color_cod02 C
        .doc_info
          %h3.heading03 City Eye Hospital
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
      .doc_detail
        .doc_avtar.color_cod03 B
        .doc_info
          %h3.heading03 Bre-bank Dental Clinic
          %p.doc_info_text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          .doc_progress
            .progres_btn In Progress
            .progress_date
              %i.fa.fa-calendar>
              Last Modified: 21st Jan 2016
            .edit_doc
              %a{:href => "#"} Edit Document
    %h3.tabcord-title.border_right_corner{"data-hname" => "tab4"} Archived (0)
    .tabcord-disp
      %h1 0 Document here
    .create_doc_btn
      %a{:href => "#"} Create New Document

:javascript
  $( function() {
    $('#tabcordion').tabcordion();
  } );