.header_bg
  %header.head_wrapper
    .header_nav
      .logo
        =image_tag("logo.png")
      %nav.menu_item
        %ul
          %li
            %a{:href => "#"} Home
          %li
            %a{:href => "#about"} About
          %li
            %a{:href => "#who-we-are"} Who we are
          %li
            %a{:href => "#partner"} Partners
          %li
            =link_to "Get Started Now", documents_path, :class=>"active_get"
      .hamburg_menu
        %button.hamburger ☰
        %button.cross ˟
        .menu
          %ul
            %li
              %a{:href => "#"} Home
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "#who-we-are"} Who we are
            %li
              %a{:href => "#partner"} Partners
            %li
              =link_to "Get Started Now", documents_path, :class=>"active_get"
    .banner_wrap
      .b_right_col
        =image_tag("mac-dashboard.png")
      .b_left_col
        %h1.heading01 DocUBuild
        %p.sub_tital01 DocUBuild is a web application for creating and sharing documents that can be accessed electronically from Electronic Health Record (EHR) systems.
        %a.red_btn{:href => "#about"} Learn More
%section.section_wrapper.space_sdjust{:name => "about"}
  .abt_col_lft
    =image_tag("doc-graphic.jpg")
  .abt_col_rgt
    %h2.heading02 About DocUBuild
    %p.sub_tital02
      The
      %a{:href => "https://emerge.mc.vanderbilt.edu/"}Electronic Medical Records and Genomics (eMERGE) Network
      is exploring the use of
      %a{:href => "http://www.openinfobutton.org/hl7-infobutton-standard"}infobuttons
      as a decision support tool to provide context-specific links within EHR systems to relevant genomic medicine content. 
    %p.sub_tital02 DocUBuild provides infrastructure to support sharing genomic medicine content in a way that is compliant with the HL7 infobutton standard. It can be used create sharable genomic medicine documents that can be exported for use in your local EHR environment.  
    %a.blue_btn{:href => "#how-it-works"} Learn More
.hiw_bg
  %section.section_wrapper{:name =>"how-it-works"}
    .title_holder
      %h2.heading02 How It Works
    .hiw_wrap
      %ul
        %li.process01.p01
          %span.process_name Create a new document
        %li.process01.p02
          %span.process_name02
            Get started quickly with
            shared content
        %li.process01.p03
          %span.process_name Author and edit content
        %li.process01.p04
          %span.process_name02 Uniquely brand your document
        %li.process01.p05
          %span.process_name Publish and share your document
.get_bg
  %section.section_wrapper
    .get_started
      %h2.heading02 Are You Ready To Get Started?
      %p.sub_tital03 Create and share your documents
      =link_to "Get Started Now", documents_path, :class=>"red_btn"
.abt_bg
  %section.section_wrapper{:name => "who-we-are"}
    .who_we_are
      %h2.heading02 Who We Are
      %p The eMERGE network is a national consortium funded by the National Human Genome Research Institute (NHGRI) to develop methods and best practices for using the electronic health record (EHR) for genomic medicine and research.
      %a.blue_btn{:href => "https://emerge.mc.vanderbilt.edu/"} Learn More
%section.section_wrapper{:name => "partner"}
  .title_holder
    %h2.heading02 Partners &amp; Collaborators
    %p We are happy to be working with the following projects in the development and use of DocUBuild
  %ul.partner_list
    %li
      %a{:href => "https://emerge.mc.vanderbilt.edu/", :target => "_blank"}
        =image_tag("partner01.jpg")
    %li
      %a{:href => "https://myresults.org/", :target => "_blank"}
        =image_tag("partner02.jpg")
    %li
      %a{:href => "https://ignite-genomics.org/", :target => "_blank"}
        =image_tag("partner03.jpg")
    %li
      %a{:href => "https://www.clinicalgenome.org/", :target => "_blank"}
        =image_tag("partner04.jpg")
.footer_bg
  %footer.footer_wrap
    .footer_link
      %ul
        %li
          %a{:href => "#"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#who-we-are"} Who we are
        %li
          %a{:href => "#partner"} Our Partners
        %li
          =link_to "Get Started Now", documents_path
        %li
          %a{:href => "#"} Contact Us
    .social_media
      %ul
        %li
          %a.fb.fa.fa-facebook-f{:href => "#"}
        %li
          %a.tw.fa.fa-twitter{:href => "#"}
        %li
          %a.ld.fa.fa-linkedin{:href => "#"}
        %li
          %a.gp.fa.fa-google-plus{:href => "#"}
    .foot_bottom
      .foot_logo
        =image_tag "footer-logo.png"
      .copy_text
        © 2016 Copyright Northwestern University and Johns Hopkins University, All rights reserved.
      .grant_text
        The eMERGE Network was initiated and funded by NHGRI through the following grants: U01HG006828 (Cincinnati Children’s Hospital Medical Center/Boston Children’s Hospital); U01HG006830 (Children’s Hospital of Philadelphia); U01HG006389 (Essentia Institute of Rural Health, Marshfield Clinic Research Foundation and Pennsylvania State University); U01HG006382 (Geisinger Clinic); U01HG006375 (Group Health Cooperative/University of Washington); U01HG006379 (Mayo Clinic); U01HG006380 (Icahn School of Medicine at Mount Sinai); U01HG006388 (Northwestern University); U01HG006378 (Vanderbilt University Medical Center); and U01HG006385 (Vanderbilt University Medical Center serving as the Coordinating Center).

:javascript
  $(function() {
    $('a[href*=\\#]:not([href=\\#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });