.box_panel
  .content_edit
    .cnt_edit_tital
      %label.chk_box_text{:for => "cbxShowHide#{section.id}"}=format_order_and_title(section)
      %a{:id => "cbxShowHide#{section.id}", :class => "tital_chk fa fa-info-circle", :data => {:checked => false}} &nbsp;Details
      .chk_hide_text{:id => "block#{section.id}", :class => "hidden_block"}
        =section.description.html_safe unless section.description.blank?
    .cnt_text
      .editForm
        .form-group
          %textarea#comment.form-control{:rows => "5"}
          .multiple_btn
            %a.rs_btn.anchor{:href => "#"} Remove Section
            %a.cf_btn.anchor{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"} Copy From Library
            #myModal.modal.fade{:role => "dialog"}
              .modal-dialog
                .modal-content
                  .modal-body
                    .pop_up_box
                      .pop_up_header
                        .ph_left_col Select a Clinical Scenario
                        .ph_right_col
                          %input{:placeholder => "Library Search", :type => "text"}/
                      .pop-up_body
                        .border_box
                          %a{:href => ""}
                            %h4 Warfarin Dosing in Poor Metabolizers
                            %p City Eye Care Research and Hospital
                        .border_box
                          %a{:href => "#"}
                            %h4 Clopidogrel Dosing in Intermediate Metabolizer
                            %p Institution: UmBiobank Research Center
                        .btn_menu
                          %a{:href => "#"} Preview
                          %a{:href => "#"} View Content
                          %a{:href => "#"} Cancel
                          %a{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"} Import All
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
      %a.cancel{:href => "#"} Save Section
      %a.edit_btn.edit-link{:href => "#"}
        %i.fa.fa-pencil>
        Edit