.box_panel
  .content_edit
    .cnt_edit_tital
      %label.chk_box_text=section.title
      - unless section.description.blank?
        %a.section_description{:title => section.description}
          %i.fa.fa-question>
    .cnt_text
      .section_display
        =section.content.html_safe
      .editForm
        .form-group
          =form_for section do |f|
            = f.text_area :content, :class => "form-control tinymce", :rows => "5", :data => {:original_text => section.content}, :id => "section_content_#{section.id}"
            .multiple_btn
              %a.cancel.save_section{:href => "#"} Save Section
              %a.cancel.cancel_section{:href => "#"} Cancel
              .spacer
              %a.rs_btn.anchor.delete_section{:href => "#"} Remove Section
              %a.cf_btn.anchor.import_section{:href => "#"} Copy From Library
      %a.edit_btn.edit-link{:href => "#"}
        %i.fa.fa-pencil>
        Edit