- section_changes = summarize_section_change_from_template(section)
- unless section_changes.blank?
  %li.section-detail-change
    = section.title
    = form_for section, url: template_sync_section_path(section) do |f|
      =f.submit "Apply"
      =f.submit "Ignore"
    %ul
      - section_changes.each do |ch|
        %li
          = ch