.pop_up_box
  .pop_up_header
    .ph_left_col Select a Clinical Scenario
    .ph_right_col
      %input{:placeholder => "Library Search", :type => "text"}/
  .pop-up_body
    .border_box
      %a{:href => ""}
        %h4 Warfarin Dosing in Poor Metabolizers
        %p City Eye Care Research and Hospital
    .border_box
      %a{:href => "#"}
        %h4 Clopidogrel Dosing in Intermediate Metabolizer
        %p Institution: UmBiobank Research Center
    .btn_menu
      %a{:href => "#"} Preview
      %a{:href => "#"} View Content
      %a{:href => "#"} Cancel
      %a{:href => "#"} Import All