- context_groups = document.contexts.blank? ? {} : document.contexts.group_by{|c| c.category}
.context_form
  - context_groups.each do |group|
    = render :partial => "contexts/infobutton_context_element", locals: {context_group: group}
  %a{:href=>"#",:class=>"context_link"}Add Context
  %a{:href=>"#",:class=>"save_context"} Save


:javascript
  $(function() {
    $(".context_link").on("click", function(e) {
      e.preventDefault();
      var button = $(this);
      $.get("#{context_new_path}", function(data) {
        $(data).insertBefore(button);
      });
    });

    $(".save_context").on("click", function(e) {
      e.preventDefault();
      var form = $(this).closest(".context_form");
      var context = getInfobuttonContext(form);
      $.post("#{set_context_document_path(@document)}", context, function(data) {
        debugger;
      });
    });

    $("body").on("click", ".addTerm", function(e) {
      e.preventDefault();
      var template = $(this).closest(".mainSearchCriteria").find(".termTemplate").clone().removeClass("termTemplate").addClass("term");
      template.insertBefore($(this).closest(".mainSearchCriteria").find("div.actions"));
    });

    $("body").on("click", ".removeTerm", function(e) {
      e.preventDefault();
      $(this).closest(".term").remove();
    });
  });