.context_form
  %a{:href=>"#",:class=>"context_link"}Add Context


:javascript
  $(function() {
    $(".context_link").on("click", function(e) {
      e.preventDefault();
      var button = $(this);
      $.get("#{context_new_path}", function(data) {
        $(data).insertBefore(button);
      });
    });

    $("body").on("click", ".addTerm", function(e) {
      e.preventDefault();
      var template = $(this).closest(".mainSearchCriteria").find(".termTemplate").clone().removeClass("termTemplate").addClass("term");
      template.insertBefore($(this).closest(".mainSearchCriteria").find("div.actions"));
    });

    $("body").on("click", ".removeTerm", function(e) {
      e.preventDefault();
      $(this).closest(".term").remove();
    });
  });