%ul.contextDetails{:class => category, :style => item_visibility, :data => {"code_system_oid" => codeSystem, "code_system_name" => codeSystemName}}
  - values.each do |value|
    %li
      %label
        %input{:type => "checkbox", :name => category, :value => value[:value]}
        =value[:name].html_safe
