%select.termCodeSystem
  %option
  %option{:value => "2.16.840.1.113883.6.103"} ICD9‐CM
  %option{:value => "2.16.840.1.113883.6.90"} ICD10‐CM
  %option{:value => "2.16.840.1.113883.6.3"} ICD10
  %option{:value => "2.16.840.1.113883.6.96"} SNOMED‐CT
  %option{:value => "2.16.840.1.113883.6.88"} RxNorm
  %option{:value => "2.16.840.1.113883.6.177"} MeSH
  %option{:value => "2.16.840.1.113883.6.69"} NDC
  %option{:value => "2.16.840.1.113883.6.1"} LOINC
%input.termCodeValue{:type => "text"}
%span.actions
  %a.removeTerm{:href=>"#"}
    %i.fa.fa-trash-o{"aria-hidden" => true}