// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.template_list {
  display: table;
  padding: -10px 10px 0px 0px;
  width: 100%;
}

#accordion.templates{
  background:#fff;
  width:1000px;
  border:1px solid #e1e1e1;
  border-radius:5px;
  box-shadow: 3px 3px 15px #ccc;
  margin: 0 0;
}

.template_description {
  font-style: italic;
  padding-bottom: 5px;
}

.template_details {
  padding-left: 29px;
  padding-top: 0px;
  width: 906px;
  clear: both;
}

.actions {
  padding-top: 15px;
  .button {
    background:#00b26c;
    font-size:14.2px;
    float:right;
    text-transform:uppercase;
    font-family:'Gotham-Medium';
    padding:15px 20px;
    text-align:center;
    display:inline-block;
    color:#fff;
    border-radius:7px;
    margin: 0px 5px;
  }
}

input.new_document_field, textarea.new_document_field {
   border:1px solid #ccc;
   font-size:14px;
   color: #333;
   padding: 4px;
   display:inline-block;
   width:75%;
}

label.new_document_field {
  font-size: 14px;
  width: 100px;
  display:block; float:left;
}

a.tital_chk {
  cursor: pointer;
}

.hidden_form_btn {
  display: none;
}

.description {
  hr {
    margin: 5px 0px;
  }
}

.status {
  display: block;
  margin-bottom: 10px;
  .progres_btn {
    float: none;
  }
}

#add_section, #import_sections {
  background: #008acb;
  font-size: 14.2px;
  float: right;
  text-transform: uppercase;
  font-family: 'Gotham-Medium';
  padding: 10px;
  text-align: center;
  display: inline-block;
  color: #fff;
  border-radius: 7px;
  margin: 3px;
}

#dialog #content {
  margin: 20px;
  ul.section_list li {
    display: table-row;
    div {
      display: table-cell;
      padding-left: 7px;
    }
  }
}

.import_header {
  display: inline-block;
  margin-bottom: 15px;
  .ph_left_col {
    color: #000;
  }
  .ph_right_col input[type=text] {
    border: solid 1px black;
    background: none;
  }
}

.import_body {
  .border_box {
    width: 75%;
    margin: 5px 5px 15px 5px;
    padding: 10px;
  }
}

.document_list_short {
  .box_panel, .template_list, .templates, #accordion.templates {
    width: 930px;
  }

  .box_panel {
    font-size: 0.8em;
    padding: 15px;
  }

  .template list, .templates {
    display: block;
  }

  .content_edit, .template_details {
    width: 900px;
  }
}

.section_details .header {
  .pop_up_header {
    padding: 25px;
    .section_nav, .section_details {
      display: table-cell;
    }

    .section_nav {
      font-size: 0.8em;
      padding-right: 25px;
    }
  }
}