// Place all the styles related to the DocumentFiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#document_file_content {
  display: none;
}

.look_feel_tab {
  .field label {
    width: 25%;
  }
}

.logo_file_preview {
  padding-bottom: 50px;
}