// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$button-color: #008acb;
$button-text-color: #fff;

.template_list {
  display: table;
  padding: -10px 10px 0px 0px;
  width: 100%;
}

#accordion.templates{
  background:#fff;
  width:1000px;
  border:1px solid #e1e1e1;
  border-radius:5px;
  box-shadow: 3px 3px 15px #ccc;
  margin: 0 0;
}

.template_description {
  font-style: italic;
  padding-bottom: 5px;
}

.template_details {
  padding-left: 29px;
  padding-top: 0px;
  width: 906px;
  clear: both;
}

.actions {
  padding-top: 15px;
  .button {
    background:#00b26c;
    font-size:14.2px;
    float:right;
    text-transform:uppercase;
    font-family:'Gotham-Medium';
    padding:15px 20px;
    text-align:center;
    display:inline-block;
    color:#fff;
    border-radius:7px;
    margin: 0px 5px;
  }
}

input.new_document_field, textarea.new_document_field {
   border:1px solid #ccc;
   font-size:14px;
   color: #333;
   padding: 4px;
   display:inline-block;
   width:75%;
}

label.new_document_field {
  font-size: 14px;
  width: 100px;
  display: block;
  float: left;
}

a.tital_chk {
  cursor: pointer;
}

.hidden_form_btn {
  display: none;
}

.description, .template {
  margin-bottom: 20px;
  hr {
    margin: 5px 0px;
  }
}

.title {
  font-family: Gotham-Medium;
}

.status {
  display: block;
  margin-bottom: 10px;
  .progres_btn {
    float: none;
  }
}

#add_section, #import_sections {
  background: #008acb;
  font-size: 14.2px;
  float: right;
  text-transform: uppercase;
  font-family: 'Gotham-Medium';
  padding: 10px;
  text-align: center;
  display: inline-block;
  color: #fff;
  border-radius: 7px;
  margin: 3px;
}

#dialog #content {
  margin: 20px;
  ul.section_list li {
    display: table-row;
    div {
      display: table-cell;
      padding-left: 7px;
    }
  }
}

.import_header {
  display: inline-block;
  margin-bottom: 15px;
  .ph_left_col {
    color: #000;
  }
  .ph_right_col input[type=text] {
    border: solid 1px black;
    background: none;
  }
}

.import_body {
  .border_box {
    width: 75%;
    margin: 5px 5px 15px 5px;
    padding: 10px;
  }
}

.document_list_short {
  .box_panel, .template_list, .templates, #accordion.templates {
    width: 930px;
  }

  .box_panel {
    font-size: 0.8em;
    padding: 15px;
  }

  .template list, .templates {
    display: block;
  }

  .content_edit, .template_details {
    width: 900px;
  }
}

.section_details .header {
  .pop_up_header {
    padding: 25px;
    .section_nav, .section_details {
      display: table-cell;
    }

    .section_nav {
      font-size: 0.8em;
      padding-right: 25px;
    }
  }
}

.font_name_select {
  ul {
    width: 50%;
    min-width: 10em;
    font-size: 1em;
  }

  ul li {
    display: none;
    padding: 0.2em;
    border: 1px solid #ccc;
  }

  ul li.selected,
  ul:hover li {
    display: list-item;
  }

  li:hover {
    background-color: #f90;
  }

  #calibri {
    font-family: Calibri;
  }
  #arial {
    font-family: "Arial";
  }
}

.font_details {
  display: table;
  margin-bottom: 20px;
  .font_name_select, .font_size_select {
    display: table-cell;
  }
  .font_type {
    font-family: "Gotham-Medium";
  }
}

.font_preview {
  display: block;
  padding: 15px;
  border: solid 1px #444;
  margin: 20px auto 20px auto;
  width: 75%;
  background: #fff;
}

.font_color_select {
  float: right;
}


.document_style_btn {
  background: #4dbbee none repeat scroll 0 0;
  border-radius: 7px;
  color: #fff;
  font-family: "Gotham-Medium";
  padding: 17px 21px;
  text-align: center;
  text-transform: uppercase;
}

.preview_document {
  .loading {
    text-align: center;
    margin: auto;
    padding: 50px;
    .spinner {
      margin: auto;
      text-align: center;
      font-size: 5em;
    }
  }
  .content {
    padding: 40px;
  }
}

.context_form {
  margin: 30px;
  .context_link {
    background: #008acb;
    font-size: 14.2px;
    text-transform: uppercase;
    font-family: 'Gotham-Medium';
    padding: 10px;
    text-align: center;
    display: block;
    color: #fff;
    border-radius: 7px;
    margin: 3px;
    width: 180px;
    margin-bottom: 15px;
  }
}

.contextItemContainer {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  padding: 10px;
  .contextDetails {
    display: inline-table;
    margin-left: 50px;
    label {
      font-weight: normal;
    }
  }
  ul.contextDetails {
    list-style-type: none;
  }
}

.termTemplate {
  display: none;
  .actions {
    i {
      font-size: 12pt;
    }
  }
}

div.actions {
  display: inline-block;
}
.addTerm {
  border: 2px solid #008acb;
  color: #fff;
  background: #008acb;
  font-size: 12px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 7px;
}

.help_text {
  font-size: 0.8em;
  font-style: italic;
}

.contextItemContainer > .actions {
  float: right;
}

.tooltip.top .tooltip-inner {
  white-space: pre-wrap;
  text-align: left;
  background: #f5f5f5;
  color: #000000;
  border:  solid 1px #e5e5e5;
  max-width: 350px;
  padding: 10px;
}

.tooltip.in {
  opacity: 1;  
}

.export_type {
  padding: 0px 20px;
  .export_title {
    font-size: 20px;
    color: #323f45;
    line-height: 20px;
    padding-bottom: 10px;
  }
  .export_description {
    font-size: 14px;
    color: #777777;
    div {
      padding-bottom: 10px;
      padding-left: 10px;
    }
  }
  .edit_btn {
    float: right;
    margin-left: 20px;
  }
}

.cnt_edit_tital .fa-sort {
  float: left;
  padding-right: 20px;
  margin-left: -10px;
}

.ui-state-highlight {
  height: 30px;
}

#ajax-flash {
  display: none;
  position: fixed;
  top:0; left:0;
}

.application_menu {
  width: auto;
  float: left;
}

#changes {
  padding: 10px;
  border: solid 1px black;
  #change-intro {
    margin-bottom: 20px;
  }
  .section-detail-change {
    margin: 3px;
    form {
      display: inline-block;
    }
    input[type=submit] {
      color: $button-text-color;
      background: $button-color;
      border: none;
      padding: 0px 3px;
      border-radius: 2px;
    }
  }
  #change-actions {
    text-align: center;
    margin-top: 30px;

    .change-action-button {
      width: 250px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 7px;
      background: $button-color;
      color: $button-text-color;
      padding: 10px 20px;
      height: 70px;
      margin: 10px;
      .link {
        padding-bottom: 10px;
      }
      a {
        color: #fff;
        font-size: 1.1em;
      }
      .note {
        font-size: 0.8em;
        line-height: 100%;
        opacity: 0.6;
      }
    }
  }
}

.dub-section .ui-state-active {
  background-color: #f6f6f6;
  a, a:link, a:visited {
    color: #000;
  }
}