!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Docubuild
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body
    = yield

    .footer_bg
      %footer.footer_wrap
        .foot_bottom.border_none
          .foot_logo
            =image_tag "footer-logo.png"
          .copy_text
            Copyright © 2016 Docubuild INC. All rights reserved.
            %a{:href => "#"} Terms &amp; conditions
            |
            %a{:href => "#"} Privacy policy