!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DocUBuild
    = stylesheet_link_tag    'public', media: 'all', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body.public_document
    = yield
    .public_footer
      .public_footer_text
        Created with
        = link_to "DocUBuild", root_path
      .disclaimer_text.public_footer_text
        The medical information on the DocUBuild website is provided as an information resource only, and is should not be used solely for any diagnostic or treatment purposes. This information has not undergone any review, does not create any patient-physician relationship, and should not be used as a substitute for professional diagnosis and treatment.

        Please consult your health care provider before making any healthcare decisions or for guidance about a specific medical condition. Any and all institutions involved with the development and publishing of content using DocUBuild expressly disclaims responsibility, and shall have no liability, for any damages, loss, injury, or liability whatsoever suffered as a result of your reliance on the information contained in this site. Institutions involved with DocUBuild do not endorse specifically any test, treatment, or procedure mentioned on the DocUBuild website.